*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 2rem;
}

body{
    font-family: "Rubik", sans-serif;
    background-color: #F9FAFB;  
    color: #111827;
}

.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-register-background{
    height: 100vh;
    width: 70vh;
    background-image: url(Img/Logo\ fondo\ azul.png);
    background-position: center;
    background-size: cover;
}

.form{
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    height: 33px;
    width: 400px;
    border-radius: 7px;
    margin-bottom: 1rem;
    border: 1px solid;
    border-color: rgb(230,230,230);
    padding-block: 1px;
    padding-inline: 10px;
    
}

.sign-up-form button{
    height: 30px;
    width: 400px;
    border-radius: 7px;
    margin-bottom: 1rem;
    border: 0;
    margin-top: 1rem;
    background-color:rgb(0, 173, 229);
    color: #F9FAFB;
    font-weight: 550;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px; 
    background-color: #ffffff;
    color: #3c4043;
    border: 1px solid #dadce0;
    border-radius: 7px;
    font-size: 14px;
    text-decoration: none;
    height: 30px;
    width: 400px;
    
}
.google-icon{
    height: 28px;
    width: auto;
}

.text-line{
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    font-weight: 500;
    font-size: 12px;
}
.text-line::before, .text-line::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #888; 
}

.text-line:not(:empty)::before {
    margin-right: 10px;
}

.text-line:not(:empty)::after {
    margin-left: 10px;
}

@media (max-width: 1023px) {
    .register{
        display: flex;
        flex-direction: column;
        
    }
    .img-register-background{
        height: 300px;
        background-size: 400px;
        background-repeat: no-repeat;
        width: 100%;
        background-color:  #0669ee;
    }
}

@media (max-width: 436px){
    h1{
        margin: 20px;
        font-size: 27px;
    }
    input, .google-btn, .sign-up-form button{
        width: 300px;
    }
    
}









